.btn-inline {
  border: none;
  font-size: inherit;
  color: var(--color-primary);
  border-bottom: 1px solid currentColor;
  padding-bottom: 2px;
  display: inline-block;
  background-color: transparent;
  transition: all 0.2s;
  cursor: pointer;

  & span {
    margin-left: 0.3rem;
    transition: all 0.2s;
  }

  &:hover {
    color: var(--color-grey-dark-1);

    & span {
      margin-left: 0.8rem;
    }
  }
  &:focus {
    outline: none;
    animation: pulsate 1s infinite;
  }
}
